
@{
    ViewBag.Title = "Information";
}

<div class="info-container">
    <h3>THÔNG TIN SINH VIÊN ĐÃ ĐĂNG KÝ</h3>
    <div class="Id">Mã sinh viên: @ViewBag.Id</div>
    <div class="Name">Họ tên: @ViewBag.Name</div>
    <div class="Mark">Điểm: @ViewBag.Mark</div>
    <a href=@ViewBag.BackURL >Quay lại</a>
</div>

