
@{
    ViewBag.Title = "RegisterRequest";
}

<form name="f" action="/Student/RegisterRequest" method="post">
    <h3>THÔNG TIN SINH VIÊN</h3>
    <div class="form-c">
        <label for="Id">Mã sinh viên: </label>
        <input type="text" name="Id" required />
    </div>
    <div class="form-c">
        <label for="Name">Họ và tên: </label>
        <input type="text" name="Name" required />
    </div>
    <div class="form-c">
        <label for="Mark">Điểm: </label>
        <input type="text" name="Mark" required />
    </div>
    <button type="submit">Đăng ký</button>
</form>

